.TopBar {
  display: flex;
  background-color: #c41230; }

* {
  margin: 0;
  padding: 0; }

.App {
  text-align: center;
  background-color: whitesmoke;
  font-family: Arial, sans-serif; }

.fc-dayGridWeek-view {
  border: 2px solid #ccc;
  border-radius: 50px;
  height: 62%;
  background-color: white; }

.checkbox-label {
  position: relative;
  display: inline-block;
  padding-left: 10%;
  font-size: 16px;
  color: #333; }

.storeButton {
  background-color: #00DB7C;
  border: none;
  border-radius: 2vw;
  /* Adjusted border radius relative to viewport width */
  color: white;
  width: 5vw;
  /* Adjusted width relative to viewport width */
  font-weight: bold;
  height: 5vh;
  /* Adjusted height relative to viewport height */
  font-size: 1vw;
  /* Adjusted font size relative to viewport width */ }
  .storeButton:hover {
    background-color: green;
    color: black; }

.checkbox-input {
  position: absolute;
  left: -9999px; }

.topButton {
  position: absolute;
  top: 10%;
  border: none;
  font-size: 30px;
  background-color: #fec574;
  border-bottom: 1px solid;
  height: 90%; }

.Overflow {
  overflow: auto;
  /* or scroll */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  -webkit-overflow-scrolling: touch;
  /* iOS Safari */ }

.topButton.left {
  left: 0;
  border-top-left-radius: 30px;
  width: 50%; }

.topButton.right {
  right: 0;
  border-top-right-radius: 30px;
  width: 50%;
  color: gray; }

.checkbox-custom {
  position: absolute;
  top: 2px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #fedcac;
  border-radius: 3px;
  border: 2px solid #333;
  cursor: pointer; }

.checkbox-input:checked + .checkbox-custom:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #333; }

.checkbox-label:hover .checkbox-custom {
  background-color: #f2f2f2; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }

.fc-header-toolbar {
  font-size: 50%;
  margin: 3%; }

.fc-toolbar-title {
  font-size: 10px; }

.fc-event {
  background-color: #007bff;
  color: pink;
  border-radius: 200px; }

.fc-scrollgrid.fc-scrollgrid-liquid {
  border: none !important; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }
.Buttons {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #1ba098;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* Ensure text is above the span */ }

.logInBox {
  height: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 10%;
  margin: 7%;
  border-radius: 25px; }

.box {
  padding: 20%; }

.PageMain {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.StickyNote {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  text-align: center;
  justify-content: center;
  /* horizontally centers the content */
  align-items: center;
  /* vertically centers the content */ }

.SideBarBox {
  position: absolute;
  height: 12%;
  width: 8%; }

.Span {
  background: #1ba098;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  /* Set span below the button content */
  transition: 0.5s; }

button:hover .Span {
  width: 100%; }

.Buttons:hover {
  border: none; }

.Header {
  color: #deb992; }

.inputGroup {
  display: flex;
  /* Set the display to flex */
  flex-direction: row;
  /* Ensure items are displayed in a row */
  align-items: center;
  /* Align items vertically */
  list-style-type: none;
  margin-bottom: 15px; }

.inputGroup h3 {
  margin-bottom: 5px; }

.inputGroup input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; }

.inputGroup input:focus {
  outline: none;
  border-color: #007bff; }

.SideBar {
  background-color: rgba(255, 165, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Align items to the right */
  justify-content: flex-start;
  /* Align content to the top */
  font-size: calc(10px + 2vmin);
  color: #deb992; }

.LogIn {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px; }

.LogIn label {
  display: block;
  margin-bottom: 5px; }

.LogIn input[type='text'],
.LogIn input[type='password'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  /* Ensure padding and border are included in the width */ }

.LogIn button {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 165, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; }

.LogIn * {
  text-align: left; }

.SignUpButton {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 165, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; }

.ButtonHolder {
  display: flex;
  /* Use flexbox layout */
  justify-content: space-evenly;
  padding-left: 25%;
  max-width: 50%; }

.ImageButton {
  width: 20%;
  height: 25%;
  border-radius: 20px;
  border: none; }

.image-button {
  background: none;
  /* Remove the background */
  border: none;
  /* Remove border if necessary */
  padding: 0;
  /* Adjust padding if necessary */
  cursor: pointer;
  /* Set cursor to pointer for better UX */ }

.image-button img {
  display: block;
  /* Ensure the image is displayed as a block element */
  width: 100%;
  /* Adjust width if necessary */
  height: auto;
  /* Maintain aspect ratio */ }

.ButtonImage {
  width: 45%;
  height: 5%;
  border-radius: 20px;
  border: none; }

.tinyText {
  font-size: 8px; }

.Logo {
  max-width: 30%;
  max-height: 30%; }

.BackGroundImage {
  background-size: cover;
  /* Cover the entire container */
  background-position: center;
  /* Center the background image */
  background-repeat: no-repeat;
  /* Do not repeat the background image */
  /*opacity: .5;*/
  z-index: -1; }

.LogIn button:hover {
  background-color: #0056b3; }

/* Optional: Style for error messages */
.error-message {
  color: red;
  margin-top: 5px; }

.Bottom {
  margin: 0 auto;
  flex-direction: horizontal; }

.SignUp {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px; }

.SignUp label {
  display: block;
  margin-bottom: 5px; }

.SignUp input[type='text'],
.SignUp input[type='password'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  /* Ensure padding and border are included in the width */ }

.SignUp button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; }

.SignUp button:hover {
  background-color: #0056b3; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.input-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block; }

.FunctInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; }

.holds-list {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.store-main .header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 4vw;
  text-align: left;
  padding-left: 4%; }
  .store-main .header .title {
    font-size: 4vw; }
  .store-main .header .points {
    font-weight: bold;
    font-size: 2.5vw;
    text-align: right;
    padding-top: 1vw;
    padding-right: 4%; }
.store-main .store-sections {
  display: flex;
  flex-wrap: wrap; }
  .store-main .store-sections .wallpaper-section,
  .store-main .store-sections .character-section {
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 3%;
    width: 95%;
    height: 20vw;
    margin-bottom: 3vw;
    border-radius: 4vw;
    background-color: #fedcac;
    ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    Webkit-overflow-scrolling: touch; }
    .store-main .store-sections .wallpaper-section .section-title,
    .store-main .store-sections .character-section .section-title {
      text-align: left;
      padding-left: 2%;
      padding-top: 2%;
      font-weight: bold;
      font-size: 3vw; }
    .store-main .store-sections .wallpaper-section .items,
    .store-main .store-sections .character-section .items {
      display: flex; }
      .store-main .store-sections .wallpaper-section .items .item,
      .store-main .store-sections .character-section .items .item {
        display: inline-block;
        width: 10%;
        height: 10%;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-left: 4%;
        flex-shrink: 0; }

.store-item {
  align-content: center;
  display: inline-block; }
  .store-item .store-image-container {
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 10vw;
    /* Adjusted width relative to viewport width */
    height: 18vh;
    /* Adjusted height relative to viewport height */
    border-radius: 1vw;
    /* Adjusted border radius relative to viewport width */ }
    .store-item .store-image-container .store-image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-repeat: no-repeat;
      border-radius: inherit; }
  .store-item .storeButton {
    margin-top: 2vw;
    /* Adjusted margin-top relative to viewport width */
    font-size: 1.5vw;
    height: 4vh;
    /* Adjusted height relative to viewport height */
    width: 10vw;
    /* Adjusted width relative to viewport width */
    border-radius: 1vw;
    /* Adjusted border radius relative to viewport width */ }

.redText {
  color: red;
  font-size: .5vw; }

/*# sourceMappingURL=app.css.map */
